{% block layout_utilities_frosh_share_basket %}
    <div class="js-frosh-share-basket-container">

        {% if froshShareBasketState is defined %}
            {% set snippetName = "frosh-share-basket.#{froshShareBasketState}" %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "info",
                content: snippetName|trans
            } %}
        {% endif %}

        <div class="frosh-share-basket--buttons" data-frosh-share-basket-buttons="true">

            {% block frosh_share_basket_copy_button %}
                <div class="input-group mb-3">
                    <button class="btn btn-secondary btn-share-basket-url" type="button">
                        {% sw_icon 'external' %}
                        {{ 'frosh-share-basket.copyUrl'|trans }}
                    </button>
                    <input type="text" id="share-basket-url" class="form-control" value="{{ froshShareBasketUrl }}">
                </div>
            {% endblock %}

            {% block frosh_share_basket_mail_button %}
                {% if config('FroshPlatformShareBasket.config.email') %}
                    <a class="btn btn-primary btn-share-basket-email"
                       target="_blank"
                       href="mailto:%20?subject={{ "frosh-share-basket.shareTitle"|trans }}%20{{ config('core.basicInformation.shopName') }}&body={{ froshShareBasketUrl }}">
                        {{ "frosh-share-basket.email"|trans }}
                    </a>
                {% endif %}
            {% endblock %}

            {% block frosh_share_basket_facebook_button %}
                {% if config('FroshPlatformShareBasket.config.facebook') %}
                    <a class="btn btn-primary btn-share-basket-facebook"
                       target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?quote={{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }}&u={{ froshShareBasketUrl }}">
                        {{ "frosh-share-basket.facebook"|trans }}
                    </a>
                {% endif %}
            {% endblock %}

            {% block frosh_share_basket_whatsapp_button %}
                {% if config('FroshPlatformShareBasket.config.whatsapp') %}
                    <a class="btn btn-primary btn-share-basket-whatsapp"
                       target="_blank"
                       href="https://api.whatsapp.com/send?text={{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }} {{ froshShareBasketUrl }}">
                        {{ "frosh-share-basket.whatsapp"|trans }}
                    </a>
                {% endif %}
            {% endblock %}

            {% block frosh_share_basket_web_button %}
                {% if config('FroshPlatformShareBasket.config.webshare') %}
                    <button class="btn btn-primary btn-share-basket-webshare"
                            data-share-title="{{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }}"
                            data-share-text=""
                            data-share-url="{{ froshShareBasketUrl }}">
                        {{ "frosh-share-basket.webshare"|trans }}
                    </button>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
