{% block layout_utilities_frosh_share_basket %}
    <div class="js-frosh-share-basket-container">

        {% if froshShareBasketState is defined %}
            {% set snippetName = "frosh-share-basket.#{froshShareBasketState}" %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "info",
                content: snippetName|trans
            } %}
        {% endif %}

        <div class="frosh-share-basket--buttons" data-frosh-share-basket-buttons="true">

            <div class="input-group mb-2">
                {% block layout_utilities_frosh_share_basket_button_share_basket_url %}
                    <button class="btn btn-primary btn-share-basket-url" type="button">
                        <span class="frosh-share-basket-button-label">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_url_label %}
                                {{ 'frosh-share-basket.copyUrl'|trans }}
                            {% endblock %}
                        </span>
                        <input type="text" id="share-basket-url" class="form-control" value="{{ froshShareBasketUrl }}">
                        <div class="frosh-share-basket-icon-wrapper">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_url_icon %}
                                {% sw_icon 'link' %}
                            {% endblock %}
                        </div>
                    </button>
                {% endblock %}
            </div>

            {% if config('FroshPlatformShareBasket.config.email') %}
                {% block layout_utilities_frosh_share_basket_button_share_basket_email %}
                    <a class="btn btn-primary btn-share-basket-email mb-2"
                       target="_blank"
                       href="mailto:%20?subject={{ "frosh-share-basket.shareTitle"|trans }}%20{{ config('core.basicInformation.shopName') }}&body={{ froshShareBasketUrl }}">
                        <span class="frosh-share-basket-button-label">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_email_label %}
                                {{ "frosh-share-basket.email"|trans }}
                            {% endblock %}
                        </span>
                        <div class="frosh-share-basket-icon-wrapper">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_email_icon %}
                                {% sw_icon 'envelope' %}
                            {% endblock %}
                        </div>
                    </a>
                {% endblock %}
            {% endif %}
            {% if config('FroshPlatformShareBasket.config.facebook') %}
                {% block layout_utilities_frosh_share_basket_button_share_basket_facebook %}
                    <a class="btn btn-primary btn-share-basket-facebook mb-2"
                       target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?quote={{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }}&u={{ froshShareBasketUrl }}">
                        <span class="frosh-share-basket-button-label">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_facebook_label %}
                                {{ "frosh-share-basket.facebook"|trans }}
                            {% endblock %}
                        </span>
                        <div class="frosh-share-basket-icon-wrapper">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_facebook_icon %}
                                {% sw_icon 'avatar' %}
                            {% endblock %}
                        </div>
                    </a>
                {% endblock %}
            {% endif %}
            {% if config('FroshPlatformShareBasket.config.whatsapp') %}
                {% block layout_utilities_frosh_share_basket_button_share_basket_whatsapp %}
                    <a class="btn btn-primary btn-share-basket-whatsapp mb-2"
                       target="_blank"
                       href="https://api.whatsapp.com/send?text={{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }} {{ froshShareBasketUrl }}">
                        <span class="frosh-share-basket-button-label">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_whatsapp_label %}
                                {{ "frosh-share-basket.whatsapp"|trans }}
                            {% endblock %}
                        </span>
                        <div class="frosh-share-basket-icon-wrapper">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_whatsapp_icon %}
                                {% sw_icon 'speech-bubbles' %}
                            {% endblock %}
                        </div>
                    </a>
                {% endblock %}
            {% endif %}
            {% if config('FroshPlatformShareBasket.config.webshare') %}
                {% block layout_utilities_frosh_share_basket_button_share_basket_webshare%}
                    <button class="btn btn-primary btn-share-basket-webshare"
                            data-share-title="{{ "frosh-share-basket.shareTitle"|trans }} {{ config('core.basicInformation.shopName') }}"
                            data-share-text=""
                            data-share-url="{{ froshShareBasketUrl }}">
                        <span class="frosh-share-basket-button-label">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_webshare_label %}
                                {{ "frosh-share-basket.webshare"|trans }}
                            {% endblock %}
                        </span>
                        <div class="frosh-share-basket-icon-wrapper">
                            {% block layout_utilities_frosh_share_basket_button_share_basket_webshare_icon %}
                                {% sw_icon 'share' %}
                            {% endblock %}
                        </div>
                    </button>
                {% endblock %}
            {% endif %}
        </div>
    </div>

{% endblock %}
